

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty,
select.invalid.ng-dirty                         

{
    border : 2px solid red
}

.angImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.angImg:hover{
    filter: blur(2px); 
    cursor: pointer;
}






